.caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    
  }
  .caption__title{
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px){
      justify-content: flex-start;
    }
  }