.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--background-hero);
    @media screen and (max-width: 767px){
      text-align: center;
    }
  }
  .footer-tablet{
  @include tablet{ 
    display: flex;
    justify-content: center;
  }

  }
  .footer-logo {
    color: var(--headin-color);
   
    
    
  }
  .footer-container-address{
    margin-bottom: 60px;
    @include tablet {
      text-align: center;
    }
    @include desktop {
      text-align: start;
      margin-bottom: 0;
    }
  }
  .footer-logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
      @include desktop{
    font-size: 26px;
    line-height: 1.19;
    }
  
  }

  .footer-address {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--headin-color);
    display: inline-block;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    margin-top: 20px;
  }
  .address-list-item:not(:last-child) {
    margin-bottom: 8px;
    @include desktop{
      margin-bottom: 9px;
      margin-top:0;
    }
    
  }
  .address-tel,
  .address-mail
  { font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--tra);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
    
  .footer-container {
      @include desktop{
      display: flex;
    align-items: baseline;
    } 
   }
  
  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
